수정 페이지<br>
글을 수정해 봅시다! <br>
<a href="/index">게시판 홈</a>
<form action="/modify" method="post">
	제목 : <input type="text" name="title" value="<%=post.title%>"></input>
	내용 : <input type="text" name='content' value="<%=post.content%>"></input>
	<button type="submit">제출</button>
</form>