글쓰는 페이지<br>
글을 작성해 봅시다! <br>
<a href="/index">게시판 홈</a>
<form action="/create" method="post">
	제목 : <input type="text" name="title" placeholder='제목'>
	내용 : <input type="text" name='content' placeholder='내용'>
	<button type="submit">제출</button>
</form>